:root {
    --blue: rgb(5, 56, 107);
    --muddy-green: rgb(55, 150, 131);
    --med-green: rgb(92, 219, 149);
    --pale-green: rgb(142, 228, 143);
    --off-white: rgb(237, 245, 225);
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: var(--med-green);
    margin: 0%;
    padding: 0%;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--blue);
}

p {
    color: var(--blue);
    font-size: 16px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

#top-link {
    color:cyan;
    font-size: 8px;
}

.text-align-center {
    text-align: center;
}

.link:visited {
    color: var(--blue);
}

#about-text-wrap {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}

#header {
    border: 1px solid;
    height: 60px;
    width: auto;
    background-color: var(--off-white);
    color: var(--blue);

    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* TODO: add a line underneath when you hover */
}

#about-container {
    height: 600px;
    border: 2px solid;
    display: flex;
    flex-direction: column;

    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

#education-card {
    border: 1px solid;
    align-self: center;
    width: 75%;
    height: 25%;

    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#nu-logo {
    height: auto;
}

#education-text {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#skills-container {
    border: 1px solid;
    height: 25%;
    width: 75%;

    position: relative;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

#projects-container {
    height: 500px;
    border: 2px solid;
    display: flex;
    flex-direction: column;

    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

#contact-container {
    height: 500px;
    border: 2px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

#socials-area {
    width: 45%;
    border: 3px solid;
    position: relative;
    left: 50%;
}

#email-card {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#github-card {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#linkedin-card {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#to-top-button {
    display: none;
    position: fixed;
    right: 2%;
    bottom: 10px;
    background-color: var(--off-white);
    height: 40px;
    width: 40px;
}

#footer {
    height: 130px;
    width: auto;
    background-color: var(--blue);
    margin: 0%;

    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#footer-icon-container {
    /* border: 3px solid; */
    border-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;

    position: relative;
    width: 160px;
    height: 15%;
    right: 10%;
    top: 50%;
}

.footer-icons {
    color: var(--off-white);
}

.footer-icons:visited {
    color: var(--off-white);
}

#footer-name {
    color: var(--off-white);
    position: relative;
    top: 50%;
    left: 25px;
    font-size: large;
}