:root {
    --blue: rgb(5, 56, 107);
    --muddy-green: rgb(55, 150, 131);
    --med-green: rgb(92, 219, 149);
    --pale-green: rgb(142, 228, 143);
    --off-white: rgb(237, 245, 225);
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: var(--med-green);
    /* background-color: white; */
    bottom: 20px;
    margin: 0%;
    padding: 0%;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--blue);
}

p {
    color: var(--blue);
    font-size: 14px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
    margin: 5px;
    padding: 0px;
}

.link:visited, .link {
    color: var(--blue);
}

.text-align-center {
    text-align: center;
}

#about-text-wrap {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}

#header {
    border: 1px solid;
    height: 60px;
    width: auto;
    background-color: var(--off-white);

    position: sticky;
    top: 0px;
    z-index: 100;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* TODO: add a line underneath when you hover */
}

.c1 {
    border: 2px solid;
    display: flex;
    position: relative;
    margin: 4%;
    flex-wrap: nowrap;
}

#about-container {
    height: 900px;
    border: 2px solid;
    flex-direction: column;
}

#education, #other-experience {
    border: 1px solid;
    align-self: center;
    width: 100%;
    height: 25%;

    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5%;
}

#nu-logo {
    height: 60%;
    align-self: center;
    border: 1px solid"
}

#education-text {
    border: 1px solid;
    position: relative;
    height: min-content;
    align-self: center;
    width: auto;
    align-items: left;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

#skills {
    border: 1px solid;
    height: 25%;
    width: 100%;

    position: relative;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

#projects-container {
    height: 500px;
    flex-direction: column;

    position: relative;
}

.project-image {
    border: 1px solid;
    height: 30%;
    width: 30%;
    list-style: none;
}

#contact-container {
    height: 300px;
    border: 2px solid;
    flex-direction: row;
    flex-wrap: nowrap;
}

#email-form-container {
    border: 1px solid;
    width: 50%;
    height: 100%;
    position: relative;
    align-self: center;
    align-items: right;
}

.form-box {
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid var(--blue);
}

#socials-area {
    width: 50%;
    height: 100%;

    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socials-card {
    height: 60px;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.card-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-wrap: break-word;
}

.card-text {
    margin: 0%;
}

#footer {
    height: 130px;
    width: auto;
    background-color: var(--blue);
    margin: 0%;

    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#footer-icon-container {
    /* border: 3px solid; */
    border-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;

    position: relative;
    width: 160px;
    height: 15%;
    right: 10%;
    top: 50%;
}

.footer-icons {
    color: var(--off-white);
}

.footer-icons:visited {
    color: var(--off-white);
}

#footer-name {
    color: var(--off-white);
    position: relative;
    top: 50%;
    left: 25px;
    font-size: small;
}

#to-top-button {
    display: none;
    position: fixed;
    right: 2%;
    bottom: 10px;
    background-color: var(--off-white);
    height: 40px;
    width: 40px;
}