:root {
    --blue: rgb(22, 56, 90);
    --muddy-green: rgb(55, 150, 131);
    --med-green: rgb(92, 219, 149);
    --pale-green: rgb(142, 228, 143);
    --off-white: rgb(237, 245, 225);
    --purple: #5d2f86;
    --red: rgb(106, 12, 7);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: var(--off-white);
    /* background-color: white; */
    bottom: 20px;
    margin: 0%;
    padding: 0%;
    font-size: medium;
    color: var(--blue);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 10px;
}

p {
    color: var(--blue);
    font-size: 14px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-weight: bold;
    font-size: 15px;
}

h5 {
    font-weight: bold;
    font-size: 14px;
}

a {
    font-weight: bold;
}

.link:visited, .link {
    color: var(--blue);
}

.link, .wlink {
    text-decoration: none;
}

.link:hover, .wlink:hover {
    border-bottom: 1px solid;
}

.text-align-center {
    text-align: center;
}

.sh {
    box-shadow: 5px 5px lightgray;
    border: 1px solid;
}

#header {
    height: 60px;
    width: auto;
    background-color: var(--red);

    position: sticky;
    top: 0px;
    z-index: 100;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* TODO: add a line underneath when you hover */
}

#header-words {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    gap: 10%;
}

.wlink, .wlink:visited {
    color: var(--off-white);
}

.hw {
    height: min-content;
    width: 1.5 * min-content;
    margin: 10px;
    padding: 2px;
    color: var(--off-white);
}

.spacer {
    height: 50px;
    width: 100%;
}

.c1 {
    display: flex;
    position: relative;
    margin: 4%;
    flex-wrap: nowrap;
}

#about-container {
    height: min-content;
    flex-direction: column;
}

#about-me-title {
    width: 90%;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.about-div {
    align-self: center;
    display: flex;
    width: 100%;
    height: min-content;
    position: relative;
    margin: 15px;
}

.spacer2 {
    height: 35px;
}

#education, #other-experience {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5%;
    height: 15rem;
    width: 150rem;
    margin: 5px;
}

#education {
    height: 10rem;
    align-items: center;
    overflow-wrap: break-word;
}

#education-text ul{
    list-style: none;
}

#other-experience {
    height: 10rem;
    gap: 3%;
}

#nu-logo {
    height: 7.5rem;   
    align-self: center;
}

#education-text {
    height: 100%;
    justify-content: center;
    gap: 0%;
}

.textbox {
    position: relative;
    height: min-content;
    align-self: center;
    width: auto;
    align-items: left;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

#skills {
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
}

.skill {
    border: 1px solid;
    width: min-content;
    height: min-content;
    margin: 1rem;
    padding: .5rem;
}

#projects-container {
    height: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    position: relative;
}

.project {
    height: 30%;
    width: 48%;
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
}

.text {
    object-fit: scale-down;
}

.project-image-cont {
    position: relative;
    align-self: center;
    width: 100%;
    height: 100%;
}

.p-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.p {
    height: 100%;
    width: 75%;
    justify-content: center;  
    word-wrap:break-word ;  
}

#contact-container {
    height: 500px;
    flex-direction: row;
    flex-wrap: nowrap;
}

#email-form-container {
    /* border: 1px solid; */
    width: 50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}

#email-form-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

#email-form-title i {
    margin-right: 5px;
}

form {
    /* border: 2px solid; */
    padding: 25px;
    width: 80%;
    box-shadow: 0px 2px 5px rgba(50, 50, 50, .25);
}

form input, textarea {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#input-field {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

#input-field i {
    margin-right: 15px;
    width: 15px;
}

.send-btn {
    width: 20%;
    border: none;
    background-color: var(--blue);
    color:rgb(237, 245, 225);
    padding: 6px 0;
    border-radius: 50px;
    font-size: 17px;
}

#socials-area {
    width: 50%;
    height: 100%;

    position: relative;
    /* align-self: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socials-card {
    height: 60px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    /* border: 1px solid; */
    box-shadow: 4px 2px 2px rgba(50, 50, 50, .25);
}

/* s for socials */
.s {
    width: 80%;
}

.card-text {
    margin: 0%;
}

/* si for socials icon */
.si {
    width: 55px;
    margin: 15px;
}

#footer {
    height: 120px;
    width: auto;
    background-color: var(--blue);
    margin: 0%;

    position: relative;
    bottom: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#footer-icon-container {
    /* border: 3px solid; */
    border-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;

    position: relative;
    width: 160px;
    height: 15%;
    right: 5%;
    top: 50%;
}

.footer-icons {
    color: var(--off-white);
}

.footer-icons:visited {
    color: var(--off-white);
}

#footer-name {
    color: var(--off-white);
    position: relative;
    top: 50%;
    left: 25px;
    font-size: small;
}

#to-top-button {
    display: none;
    position: fixed;
    right: 2%;
    bottom: 10px;
    background-color: var(--off-white);
    height: 40px;
    width: 40px;
    border-color: var(--blue);
}
